options {
	create-dirs(yes);
	owner("{{ log_owner }}");
	group("{{ log_group }}");
	dir-owner("{{ log_owner }}");
	dir-group("{{ log_group }}");
	dir-perm(0755);
	perm(0755);

	time-reopen(10);
	keep-hostname(yes);
	log-msg-size(65536);

	use_dns (yes);
	ts-format(iso);
};

source s_net {
	udp(ip(0.0.0.0) port(514) flags(no-parse));
	tcp(ip(0.0.0.0) port(514));
};

destination d_default { file("{{ syslog_destination_folder }}/{{ syslog_default_type }}/$HOST/$YEAR$MONTH$DAY.log"); };
{% if syslog_source_types is defined %}
{% for source in syslog_source_types %}

# Entry for {{ source.type }}
destination d_{{ source.type }} { file("{{ syslog_destination_folder }}/{{ source.folder }}/$HOST/$YEAR$MONTH$DAY.log"); };
filter f_{{ source.type }} { host("{{ source.host_regex }}" flags(ignore-case)) ;};
log { source(s_net); filter(f_{{ source.type }}); destination(d_{{ source.type }}); };
{% endfor %}
{% endif %}
# Default
log {
	source(s_net);
	destination(d_default);
	flags(fallback);
};
