options {
    use_dns (yes);
    frac_digits(4);
};

source s_net {
	udp(ip(0.0.0.0) port(514));
	tcp(ip(0.0.0.0) port(514));
};

destination d_files_splunk {
	file("{{ syslog_destination_folder }}/$HOST/$YEAR$MONTH$DAY.log" create_dirs(yes));
};

log {
	source(s_net);
	destination(d_files_splunk);
};