[udp://10514]
connection_host = dns
index = {{ syslog_index }}
sourcetype = syslog
# source = syslog

[tcp://10514]
connection_host = dns
index = {{ syslog_index }}
sourcetype = syslog
# source = syslog

[monitor://{{ syslog_destination_folder }}/{{ syslog_default_type }}/*/*.log]
disabled = 0
host_regex = .*\/(.*)/.*.log
index = {{ syslog_index }}
sourcetype = syslog-ng

{% if syslog_type_folders is defined %}
{% for source in syslog_type_folders %}
[monitor://{{ syslog_destination_folder }}/{{ source.folder }}/*/*.log]
disabled = 0
host_regex = .*\/(.*)/.*.log
index = {{ syslog_index }}
sourcetype = {{ source.splunk_source_type }}

{% endfor %}
{% endif %}